*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

.result {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
  position: relative;
}

video.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', serif, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.content__details {
  justify-self: flex-end;
  width: 405px;
  height: 100%;
}

.title {
  padding-bottom: 20px;
  font-family: 'Oswald', serif, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 300px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.content__video-card-title {
  font-family: 'Oswald', serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  width: 196px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', seif, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 195px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
  margin-top: 4px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  color: #fff;
  background-color: #1b1919;
  appearance: none;
  margin-top: 5px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  background-color: #1b1919;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif, serif;
  font-weight: 700;
  font-size: 18px;
}

.search-form__submit-button {
  padding: 6px 75px;
  align-self: flex-end;
  margin-top: 20px;
}

.more-button {
  padding-top: 6px;
  padding-bottom: 6px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
